.backgroundHome, .backgroundCarga, .backgroundLyrics, .backgroundShows, .backgroundNosotros, .backgroundNew, .backgroundGaleria, .backgroundSuscribite {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  min-height: 100vh; }

.header {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.249);
  -webkit-box-shadow: inset 0px 0px 24px 3px rgba(0, 0, 0, 0.84);
  box-shadow: inset 0px 0px 24px 3px rgba(0, 0, 0, 0.84); }
  .header .navbar-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: "Metal Mania", cursive;
    font-size: 2.5vw;
    width: 100%; }
    .header .navbar-navnav-link {
      padding-left: 4vw;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 0px 0px 2px rgba(206, 89, 55, 0);
      transition: all 1s; }
      .header .navbar-navnav-link:hover {
        transform: scale(1.5); }

.navbar .container-fluid video {
  position: absolute;
  z-index: -1;
  height: auto;
  width: 100%;
  -webkit-filter: grayscale(100%); }

.logoHeader {
  border-style: solid;
  border-color: rgba(10, 10, 34, 0.479);
  border-width: 0.5vh;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 2vw;
  width: 12vw;
  transition: transform 1s; }
  .logoHeader:hover {
    transform: scale(1.2); }

.logoHeaderHome {
  height: 10vh;
  width: auto; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  letter-spacing: 2px; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #FFF; }

.backgroundHome {
  background-image: url(./imagenes/fondo.jpg); }

.backgroundCarga {
  background-image: url(../../imagenes/FOTO23.jpg);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; }

.backgroundLyrics {
  background-image: url(../../imagenes/FOTO22.jpg); }

.backgroundShows {
  background-image: url(../../imagenes/FOTO24.jpg); }

.backgroundNosotros {
  background-image: url(../../imagenes/FOTO14.jpg); }

.backgroundNew {
  background-image: url(../../imagenes/FOTO19.jpg); }

.backgroundGaleria {
  background-image: url(../../imagenes/FOTO6.jpg); }

.backgroundSuscribite {
  background-image: url(../../imagenes/FOTO2.jpg); }
