.backgroundHome {
    background-image:url(./imagenes/fondo.jpg);
    @extend %estilo-bg;
    }

.backgroundCarga{
    background-image: url(../../imagenes/FOTO23.jpg);
    @extend %estilo-bg;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    }

.backgroundLyrics{
    background-image:url(../../imagenes/FOTO22.jpg);
    @extend %estilo-bg;
}

.backgroundShows{
    background-image: url(../../imagenes/FOTO24.jpg);
    @extend %estilo-bg;
}

.backgroundNosotros{
    background-image: url(../../imagenes/FOTO14.jpg);
    @extend %estilo-bg;
}

.backgroundNew{
    background-image: url(../../imagenes/FOTO19.jpg);
    @extend %estilo-bg;
}

.backgroundGaleria{
    background-image: url(../../imagenes/FOTO6.jpg);
    @extend %estilo-bg;
}



.backgroundSuscribite{
    background-image: url(../../imagenes/FOTO2.jpg);
    @extend %estilo-bg;
}