h1 {display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    color: rgb(231, 227, 227);
    text-shadow: 5px 5px 10px black;
    letter-spacing: 5px;
    font-family: 'Metal Mania', cursive;
    background-color: rgba(0, 255, 255, 0.479);
    font-size: 5vw;
    font-weight: 50;
}

.logoCarga{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-style: solid ;
    border-color: rgba(10, 10, 34, 0.479);
    border-width: 0.7vh;
    width: 15vw;
}