.anchorLogoCarga{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.logoCarga{
    display: flex;
    justify-content: center;
    border-style: solid ;
    border-color: rgba(10, 10, 34, 0.479);
    border-width: 0.7vh;
    width: 30vw;
    z-index: 2;
}

.bgCarga{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

