.footer{
    position: absolute;
    bottom: 1%;
    width: 100%;
    

    .iconos__footer{
        background-color: rgba(90, 90, 90, 0.541);
        list-style: none;
        display: flex;
        justify-content: center;

        &__links{
            display: flex;
            padding: 0;          
        }
    
        .imgIconos{
            width: 4vh;
        }
    
    }
}