.backgroundGaleria{
    &>.mainGaleria{
        margin-top: 5vh;

        
        &>.sectionCarousel{
            background-color: rgba(251, 251, 251, 0.189);
            margin-top: 50px;
            align-items: center;
            border-radius: 5px;
            padding: 1vw;

            &>.carousel{
                object-fit: cover;
                &>.carousel-inner{
                    &>.carousel-item{
                        
                        &>img{
                            object-fit: cover;
                        }
                    } 
                    
                }
            }
    
        }
    
    }

}

.sectionGaleria2{
    display: flex;
    justify-content: center;

    margin-top: 2vw;
    background-color: rgba(251, 251, 251, 0.189);


    .galeriaImagenGrid{
        padding: 1vw;
        height: auto;
        width: 100%;
        
    }

}