.backgroundGaleria {
    &>.mainGaleria {
        margin-top: 2vh;
        padding-bottom: 15vw;


        &>.sectionCarousel {
            background-color: rgba(251, 251, 251, 0.189);
            margin-top: 50px;
            align-items: center;
            border-radius: 5px;
            padding: 1vw;

            &>.carousel {
                align-items: center;
                overflow: hidden;
                object-fit: cover;

                &>.carousel-inner {

                    &>.carousel-item {
/*                         overflow-y: hidden; */
                        height: 300px;
                        display: flex;
                        align-items: center;

                        &>img {
                            overflow: hidden;
                            height: auto;
                            width: auto;


                        }
                    }

                }
            }

            &>.textoCarousel{
                color: white;
                font-family: $fuente-principal;
                letter-spacing: 0.1rem;
                text-align: center;
            }

        }

    }

}

.sectionGaleria2 {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    background-color: rgba(251, 251, 251, 0.189);
    border-radius: 5px;
    margin-bottom: 2vw;


    .galeriaImagenGrid {
        border-radius: 5px;
        padding: 1vw;
        height: auto;
        width: 100%;

    }

}