.header{
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.249);
    -webkit-box-shadow: inset 0px 0px 24px 3px rgba(0,0,0,0.84); 
    box-shadow: inset 0px 0px 24px 3px rgba(0,0,0,0.84);

    .navbar-nav{
        display: flex;
        justify-content: space-around;
        list-style: none;                            
        font-family: $fuente-principal;
        font-size: 2.5vw;
        width: 100%;

        &nav-link{
            padding-left: 4vw;
            text-shadow: $sombras-encabezados;
            transition: all 1s;

            &:hover{
                transform: scale(1.5);
                }
            }
        }
    }


.navbar .container-fluid video{
    position: absolute;
    z-index: -1;
    height: auto;
    width: 100%;
    -webkit-filter: grayscale(100%);
    
}

.logoHeader{
    border-style: solid;
    border-color: rgba(10, 10, 34, 0.479);
    border-width: 0.5vh;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 2vw;
    width: 12vw;
    transition: transform 1s;

    &:hover {
        transform: scale(1.2);

        }
    }


.logoHeaderHome{
    height: 10vh ;
    width: auto;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    letter-spacing: 2px;
    
    &:hover {
        color: #FFF;
    }
}