.mainHome{
    width: 100%;
    height: 100%;
            
    .anchorNew{
        position: absolute;
        font-family: $fuente-principal;
        color: map-get($colores,fuente-links);
        text-shadow: $sombras-encabezados;
        font-size: 3vw;
        left: 15%;
        top: 45%;
        transition: all 1s;

        &:hover{
            transform: scale(1.4);
        }
            
        .anchorNewLink{
            color: map-get($colores,fuente-links);
            text-shadow: $sombras-encabezados;
            background-image: url();
            letter-spacing: 0.2rem;
            text-decoration: none;
            transition: all 1s;
        }
    }
}

.imagenNew1{
    width: 70%;
}

.imagenNew2{
    @include estilo-img-main (2deg);
    left: 35%;
    z-index: 100;
    top: 26%;
    transition: all 1s;
}

.imagenNew3{
    @include estilo-img-main (5deg);
    top: -15%;
    left: 26%;
}

.imagenNew4{
    @include estilo-img-main (-20deg);
    bottom: -35%;
    left: 25%;
}

.contenedorNew{
    display: flex;
    position: relative;
    top: 20px;
    left: 5vw;
    width: 30vw;
}

.contenedorShows{
    display: flex;
    position: relative;
    
    left: 55vw;
    width: 30vw;
}

.contenedorLyrics{
    display: flex;
    position: relative;
    
    left: 5vw;
    width: 30vw;
}

.contenedorNosotros{
    display: flex;
    position: relative;
    
    left: 55vw;
    width: 30vw;
}

.contenedorGaleria{
    display: flex;
    position: relative;
    
    left: 5vw;
    width: 30vw;
}

.contenedorSuscribite{
    display: flex;
    position: relative;
    left: 55vw;
    width: 30vw;
    height: auto;
    
}
