.sectionNew{
    background-color: rgba(255, 255, 255, 0.566);
    border-radius: 90%;
    height: 50vh;

    
    .contenedorIframe{
        margin-top: 2%;

        .iframeNew{
        border-radius: 40%;
        }
    }
    .description{
        margin-top: 9%;
    }
}